Errors/
Data/
Logs/
Screenshots/
ijl15.dll
fmod.dll
DivxDecoder.dll
dbghelp.dll
BackgroundDownloader.exe
Launcher.exe
Patch.html
Patch.txt
realmlist.wtf
Repair.exe
Scan.dll
unicows.dll
WoW.exe
World of Warcraft Install Log.html
WowError.exe
